body {
    text-align: center;
    background: url(./assets/tajmahal.jpg);
    /* background-position: center; */
    background-size: cover;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
img {
    border-radius: 50%;
    border: 5px solid white;
}